{% extends "home-base.html" %}

{% block title %}
About
{% endblock %}

{% block active_tab %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/courses">Courses</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/profs">Professors</a>
</li>
{% endblock %}

{% block page_content %}
    {# This is jinja comment #}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">This is the about page</h1>
            <p>Here, you can learn more about me!</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <a href="https://open.spotify.com/user/robertk109" target="blank"
            ><i class="fa fa-spotify fa-4x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a href="https://www.instagram.com/rkalaj/" target="blank"
            ><i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a href="https://www.snapchat.com/add/robertkalaj" target="blank"
            ><i class="fa fa-snapchat fa-4x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock %}
