{% extends "home-base.html" %}

{% block head %}
{{super()}}
<style>
  h1 {
    color:blue;
  }
  .courses {
    padding-top: 10px;
  }
</style>
{% endblock %}

{% block title %}
Courses
{% endblock %}

{% block active_tab %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/courses">Courses</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/profs">Professors</a>
</li>
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">These are my courses</h1>
      <div class="row bottom-margin">
        <a href="/courses/add" class="btn btn-primary" role="button" aria-disabled="true">Add Courses</a>
      </div>
      {% if courses %}
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Course</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
        <!-- Button trigger modal -->
        {% for courses in courses %}
        <tr>
            <th scope="row">{{courses.id}}</th>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{courses.id}}">
                {{courses.number}}
              </button>
            </td>
            <td>
              <a href="/courses/edit/{{courses.id}}" class="btn btn-success" role="button">Edit</a>
              <a href="/courses/delete/{{courses.id}}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
            </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="{{courses.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{courses.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{courses.desc}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock %}
