{% extends "home-base.html" %}

{% block head %}
{{super()}}
<style>
  h1 {
    color:blue;
  }
  .courses {
    padding-top: 10px;
  }
</style>
{% endblock %}

{% block title %}
Courses
{% endblock %}

{% block active_tab %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/courses">Courses</a>
</li>
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">These are my courses</h1>
      <ul class="list-unstyled">

        <!-- Button trigger modal -->
        {% for courses in courses %}
        <li class="courses">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            {{courses}}
          </button>
        </li>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Course Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Description
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock %}
